<a href="https://colab.research.google.com/github/DaffaAufaAfif/dasprog_Daffa/blob/main/Week2Dasprog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Latihan 1(MyITS)

Panji Belanja(sama kayak di pengasandasprog)

In [ ]:
x= int(input())
if x%2==0:
    x/=2
else:
    x-=x/4
print(x)

Panji cetak

In [ ]:
x= int(input())
while x!=0:
    for i in range(2):
        print("#",end="")
        x-=1
        if x==0: break
    if x==0: break
    for i in range(2):
        print("*",end="")
        x-=1
        if x==0: break

Pandu NxM

In [ ]:
x,y= map(int,input().split())
lop1=2
lop2=2
for n in range(x):
    z=y
    while z!=0:
        for i in range(lop1):
            print("*",end="")
            lop1-=1
            z-=1
            if z==0: break
        if z==0: break
        for i in range(lop2):
            print("#",end="")
            lop2-=1
            z-=1
            if z==0: break
        lop1=2
        lop2=2
    print(" ")

Pandu cetk

In [ ]:
x= int(input())
for i in range(x,0,-1):
    if (i%2==0):
        print("*",end="")
    else:
        print("#",end="")

Panji cetak(lagi)

In [ ]:
y,x= map(int,input().split())
sym=["#","*"]
for j in range(y):
    for i in range(x,0,-1):
          print(sym[i%2],end="")
    temp=sym[0]
    sym[0]=sym[1]
    sym[1]=temp
    print(" ")

Latihan 2

print hasil operasi bilangan

In [ ]:
a,b,c = map(int,input().split())
print(a*a+b-c)

2 3 -1
8

nama dan umur

In [ ]:
nama="Daffa"
umur =18
print(f"Nama saya {nama}\nUmur saya {umur} tahun")

Nama saya Daffa
Umur saya 18 tahun

soal 6:Belanja

In [ ]:
apel = 6000
jeruk = 2000
anggur = 1000
a=list(map(int,input().split()))
print("Total belanjaan:",apel*a[0]+jeruk*a[1]+anggur*a[2])

3 1 2
Total belanjaan 22000

Belanja lagi

In [ ]:
apel = 6000
jeruk = 2000
anggur = 1000
a=list(map(int,input().split()))
print("Kembalian:",a[3]-(apel*a[0]+jeruk*a[1]+anggur*a[2]))

3 1 2 25000
Kembalian: 3000

Uang Kas

In [ ]:
a=list(map(int,input().split()))
print(a[0]*a[1])

2 2000
4000

Baru belajar Aljabar

In [ ]:
a[0]=int(input())
a[1]=int(input())
print(a[1]//a[0])

2
6
3

Belajar Aljabar Lagi

In [ ]:
a=list(map(int,input().split()))
print((a[1]+a[2])//a[0])

2 5 1
3

Tukar hdiah

In [ ]:
a=list(map(int,input().split()))
a[2]+=a[0]+a[1]+a[3]
for i in range(4):
  a[i]=0 if i!=2 else a[i]
print(a)

1 1 1 1
[0, 0, 4, 0]

update var

In [ ]:
a=list(map(int,input().split()))
x=list(map(int,input().split()))
t=a[1]
a[1]=a[0]+x[0]
a[0]=t+x[1]
print(a)

1 2
2 0
[2, 3]

Update var lagi

In [ ]:
u=list(map(int,input().split()))
l=list(map(int,input().split()))
u[0]+=l[0]
u[1]+=l[1]
temp=u[0]
u[0]=u[1]
u[1]=temp
l[0]//=u[0]
u[1]-=u[0]
u[0]=l[0]
u[1]*=u[0]
print(u)

1 2
2 0
[0, 0]

In [ ]:
#bilangan apa tuh
i = int(input())
if i>4:
  print("HUJANDERAS")
else:
  print("PANAS")

In [ ]:
#bilangan apa tuh lagi
i = int(input())
if i-3>1:
  print("HUJANDERAS")
else:
  print("PANAS")

In [ ]:
#bilangan apa tuh lagi2
i = int(input())
if i%5==2:
  print("HUJANDERAS")
else:
  print("PANAS")

In [ ]:
#kevin baik hti
x,y = map(int,input().split())
if x%y==0:
  print("BISA")
else:
  print("MAAF")

In [ ]:
#kevin baik hti lagi
x,y,z = map(int,input().split())
if (x+z)%y==0:
  print("BISA")
else:
  print("MAAF")

In [ ]:
#gak dulu mtk
x,y,z = map(int,input().split())
if (x+z)%y==0:
  print("BISA")
else:
  print("MAAF")

In [ ]:
#Banyak banyakan angpao
x,y = map(int,input().split())
if x<y:
  print("Abdan lebih banyak")
elif y>x:
  print("Kevin lebih banyak")
else:
  print("Seri")

1 2
Abdan lebih banyak

In [ ]:
#cek angpao
x = map(int,input().split())
if x<=999:
  print("Ratusan")
else:
  print("Bukan")

In [ ]:
#angka ajaib
i= int(input())
if (i>999):
    print("Ribuan")
elif (i>99):
    print("ratusan")
elif (i>9):
    print("puluhan")
else:
    print("Satuan")

In [ ]:
#kevin rajin pushrank
i= int(input())
if (i>4737):
    print("Epic")
elif (i>3501):
    print("Legend")
elif (i>1098):
    print("Mythic")
elif (i>899):
    print("Warior")
else:
    print("Bronze")

In [ ]:
#kotak ajaib
a= list(map(int,input().split()))
x, y=map(int,input().split())
print(a[x]+a[y])

In [ ]:
#daftar angka ajaib
a= list(map(int,input().split()))
x, y=map(int,input().split())
print(a[x]+a[y])

In [ ]:
#angka angka
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j)

In [ ]:
#Pagar pagar
n = int(input())
for i in range(n):
  print('#'*(i+1))

3
#
##
###

In [ ]:
#angka angka lagi
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,sep='',end='')
    print('')

3
1
12
123

In [ ]:
#angka angka tapi dibalik
n=int(input())
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j,sep='',end='')
    print('')

3
1
21
321

In [ ]:
#angka angka tapi kebalik lagi
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,sep='',end='')
    print('')

3
123
12
1

In [ ]:
#angka angka tapi kebalik banget
n=int(input())
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,sep='',end='')
    print('')

3
321
21
1